name: 'Build reference documentation of rust_analyzer configuration options from package.json'
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'
  push:
    branches:
      - 'master'


jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nikeee/setup-pandoc@v1
      - name: Build rust_analyzer html docs
        run: RUNNER_TRACKING_ID="" && ./scripts/build.sh all
      - name: Upload html docs artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: out

  deploy_docs:
    needs: build_docs

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy rust_analyzer html docs to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
